name: portfolio

services:
  server:
    container_name: portfolio
    image: deploy_portfolio:latest
    ports:
      - '7001:5000'
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

networks:
  default:
    external: true
    name: main
